<footer class="footer py-3 mt-auto">
    <div class="container d-flex justify-content-center align-items-center">
      <div class="footer-content text-center">
        <p class="text-light fw-lighter mb-2">&copy; Shopping-Cart 2023</p>
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a href="#" class="text-light">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-light">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-light">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-light">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  <style>
    .footer {
  background-color: #337ab7;
  color: #fff;
}

.footer-content {
  padding: 20px;
}

.footer-content p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
  margin-right: 20px;
}

.list-inline-item a {
  color: #fff;
  text-decoration: none;
}
.list-inline-item a i:hover {
  color: tomato;
  text-decoration: none;
  transition: 0.3s;
}



.fab {
  font-size: 1.5rem;
}
  </style>